.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.content {
  text-align: center;
}

.para {
  font-size: 50px;
  color: black;
}

.custom-button {
  width: 400px;
  height: 150px;
  padding: 10px 20px;
  font-size: 50px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #3498db;
    opacity: 0.8;
  }
}
